body {
    background: rgb(191,191,191);
background: linear-gradient(90deg, rgba(191,191,191,1) 4%, rgba(216,216,230,1) 51%, rgba(255,255,255,1) 100%);
}

.login {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.login img {
    width: 30%;
}
.entrar {
    width: 100px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 5px;
}
.limpar {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
label {
    text-align: left;
}
